<div class="login-page" ng-init = "LoginInit();">
	<div class="contenido">
		<div class="col col-sm-5"> <br>
			<img src="images/logo-circle.png" width="100%">
			<div class="titulo">Autorizaciones</div>
		</div>
		<div class="col col-sm-7">
			<form class="frm_login">
				<div class="item">
					<div class="input">
						<i class="fa fa-user-circle" aria-hidden="true"></i>
						<input type="text" ng-model="usuario" placeholder="Usuario" class="user" ng-keypress="presEnter( $event )">
						<div class="olvidar" ng-show="!userHide" ng-click="OlvidarUsuario();">
							<!-- <i class="fa fa-user-times" aria-hidden="true"></i> -->
							Olvidar este usuario
						</div>
					</div>
				</div>

				<div class="item">
					<div class="input">
						<i class="fa fa-lock" aria-hidden="true"></i>
						<input type="password" ng-model="password" placeholder="Contraseña" class="pass" ng-keypress="presEnter( $event )">
					</div>
				</div>
			</form>

			<div class="loading-log">
				<button class="btn-login" ng-click='Login();'>
					Iniciar sesión
				</button>
			</div>

		</div>		
	</div>				

	<div class="legales"> <a href="javascript:;" data-toggle="modal" data-target="#myModal"> T&eacute;rminos y condiciones </a> </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	        <div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<h4 class="modal-title">T&eacute;rminos y condiciones</h4>
	        </div>
	        <div class="modal-body">
		        <p>Total Parts & Components y el cliente acuerdan simultáneamente que los vehículos en mantenimiento, fueron entregados en tiempo y forma de acuerdo a las condiciones del contrato y la normatividad respectiva.</p>

                <p>Así mismo y de no tener inconveniente le informamos que los tokens generados a través de este servicio tienen la validez de una firma electrónica en la que se almacenarán sus datos de usuario, fecha y hora de la operación para futuras aclaraciones.</p>
	        </div>
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
	        </div>
	    </div>
    </div>
</div>