<div class="token-page" ng-init="Init();">
	<header>
		<div class="contenido">
			<div class="col-xs-9 titulo">
				<i class="fa fa-square" aria-hidden="true"></i> Autorizaciones
			</div>
			<div class="col-xs-3 icon-ellipsis">
				<div class="dropdown">
				    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    	<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
				    </button>
				    <ul class="dropdown-menu" aria-labelledby="dLabel">
				    	<!-- <li>Settings</li> -->
				    	<li ng-click="logOut();">Salir</li>
				    </ul>
				</div>
			</div>
		</div>
	</header>
	<div class="con-body">
		<form class="frm_orden">
			<div class="item">
				<div class="input">
					<span>Caduca en:&nbsp;<span class="tiempo">{{ tiempo.label }}</span></span>
					<p id="temp_token">{{ Token }}</p>
				</div>
			</div>
		</form>

		<button class="btn-login" ng-click='GenerarOtro();'>
			Generar otro
		</button>

		<!-- <input type="text" value="{{ Token }}" name="" > -->
		<div class="col-xs-12"><br><br></div>
		<div class="col-xs-3"></div>
		<div class="col-xs-3 text-center">
			<a href="mailto:?subject=Token&amp;body=Clave de Verificación: {{ Token }}" class="iconos" title="Share by Email"> <i class="fa fa-envelope-o" aria-hidden="true"></i> </a>
			<br><span class="lable_share">Compartir por<br> email</span>
		</div>

		<div class="col-xs-3 text-center">
			<a ng-click='copiarAlPortapapeles("temp_token");' class="iconos">
				<i class="fa fa-clone" aria-hidden="true"></i>
			</a>
			<br><span class="lable_share">Copiar al portapapeles</span>
		</div>

		<div class="col-xs-3"></div>

	</div>

	<div class="legales"> <a href="javascript:;" data-toggle="modal" data-target="#myModal"> T&eacute;rminos y condiciones </a> </div>
	<!-- <a href="#token"><i class="fa fa-shield"></i> Generar</a> | <a href="#/"><i class="fa fa-shield"></i> Salir</a> -->
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	        <div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal">&times;</button>
	        	<h4 class="modal-title">T&eacute;rminos y condiciones</h4>
	        </div>
	        <div class="modal-body">
		        <p>Control de Operaciones y el cliente acuerdan simultáneamente que los vehículos en mantenimiento, fueron entregados en tiempo y forma de acuerdo a las condiciones del contrato y la normatividad respectiva.</p>

                <p>Así mismo y de no tener inconveniente le informamos que los tokens generados a través de este servicio tienen la validez de una firma electrónica en la que se almacenarán sus datos de usuario, fecha y hora de la operación para futuras aclaraciones.</p>
	        </div>
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
	        </div>
	    </div>
    </div>
</div>